<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:section name="main">
    <div class="mai-jobs-apply">
        <h2 class="mai-jobs-apply__title">
            <f:translate key="application.form.title" extensionName="mai_jobs"/>
        </h2>

        <f:flashMessages/>
        <f:form.validationResults>
            <f:if condition="{validationResults.flattenedErrors}">
                <div class="mai-jobs-apply__errors" role="alert">
                    <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyName">
                        <f:for each="{errors}" as="error">
                            <p class="mai-jobs-apply__error">{error.message}</p>
                        </f:for>
                    </f:for>
                </div>
            </f:if>
        </f:form.validationResults>

        <f:form action="confirm" controller="Application" objectName="application" object="{application}" method="post" enctype="multipart/form-data">
            <f:form.hidden name="job" value="{job.uid}"/>

            <div class="mai-jobs-apply__fields">
                <div class="mai-jobs-apply__field">
                    <label for="firstName">
                        <f:translate key="application.field.firstName" extensionName="mai_jobs"/>
                    </label>
                    <f:form.textfield id="firstName" property="firstName" required="required" class="mai-jobs-apply__input"/>
                </div>

                <div class="mai-jobs-apply__field">
                    <label for="lastName">
                        <f:translate key="application.field.lastName" extensionName="mai_jobs"/>
                    </label>
                    <f:form.textfield id="lastName" property="lastName" required="required" class="mai-jobs-apply__input"/>
                </div>

                <div class="mai-jobs-apply__field">
                    <label for="email">
                        <f:translate key="application.field.email" extensionName="mai_jobs"/>
                    </label>
                    <f:form.textfield id="email" property="email" type="email" required="required" class="mai-jobs-apply__input"/>
                </div>

                <div class="mai-jobs-apply__field">
                    <label for="message">
                        <f:translate key="application.field.message" extensionName="mai_jobs"/>
                    </label>
                    <f:form.textarea id="message" property="message" rows="8" class="mai-jobs-apply__textarea"/>
                </div>

                <div class="mai-jobs-apply__field">
                    <label for="cv">
                        <f:translate key="application.field.cv" extensionName="mai_jobs"/>
                    </label>
                    <f:form.upload id="cv" property="cv" class="mai-jobs-apply__input"/>
                    <p class="mai-jobs-apply__hint">
                        <f:translate key="application.field.cv.hint" extensionName="mai_jobs"/>
                    </p>
                </div>
            </div>

            <div class="mai-jobs-apply__submit">
                <f:form.submit value="{f:translate(key: 'application.submit', extensionName: 'mai_jobs')}" class="mai-jobs-apply__button"/>
            </div>
        </f:form>
    </div>
</f:section>
</html>
