<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:layout name="Default"/>
<f:section name="main">
    <div class="mai-jobs-confirm">
        <h2 class="mai-jobs-confirm__title">
            <f:translate key="application.confirm.title" extensionName="mai_jobs"/>
        </h2>
        <p class="mai-jobs-confirm__message">
            <f:translate key="application.confirm.message" extensionName="mai_jobs"/>
        </p>
    </div>
</f:section>
</html>
